body{
    background-image: url("../mach.jpg");
    background-size: cover;    
}
.header {
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
}

#logo{
    height: 1800px; 
    width: 1800px;
    position: relative; 
    left: 300px;

}